.orange-button {
  background: var(--Secondary-Orange, #ef7100);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.main-button {
  border-radius: 4px;
  background: var(--ARM-Yellow, #ffb621);
}
